version: "3.9"

services:
  db:
    image: postgres:15
    container_name: autoria_db
    restart: always
    environment:
      POSTGRES_DB: autoria
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: autoria_app
    depends_on:
      - db
    env_file:
      - .env

volumes:
  postgres_data: